<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="group_seven.display.mapper.CreditAllMapper">
    <resultMap id="BaseResultMap" type="group_seven.display.model.CreditAll">
        <result column="BillNumber" property="BillNumber" jdbcType="TEXT"/>
        <result column="Account" property="Account" jdbcType="TEXT"/>
        <result column="Money" property="Money" jdbcType="DOUBLE"/>
        <result column="BillDate" property="BillDate" jdbcType="TEXT"/>
        <result column="BillExInfo" property="BillExInfo" jdbcType="TEXT"/>
        <result column="BillSiteID" property="BillSite" jdbcType="TEXT"/>
        <result column="ExReason" property="ExReason" jdbcType="TEXT"/>
    </resultMap>

    <sql id="Base_Column_List">
        BillNumber,Account,Money,BillDate,BillExInfo,BillSiteID,ExReason
    </sql>

    <select id="getCityUserList" resultMap="BaseResultMap">
        SELECT
        exceptionaccount.BillNumber as BillNumber,
        exceptionaccount.Account as Account,
        exceptionaccount.Money as Money,
        exceptionaccount.BillDate as BillDate,
        exceptionaccount.BillExInfo as BillExInfo,
        b_banksiteinfo.BankSiteName as BillSiteID,
        exceptionaccount.ExReason as ExReason
        FROM b_banksiteinfo inner join exceptionaccount
        ON b_banksiteinfo.ID=exceptionaccount.BankSiteID
        ORDER BY exceptionaccount.Account
    </select>


</mapper>