<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="group_seven.display.mapper.PersonalConsumptionMapper">
    <resultMap id="BaseResultMap" type="group_seven.display.model.PersonalConsumption">
        <result column="Purpose" property="type" jdbcType="VARCHAR"/>
        <result column="Money" property="value" jdbcType="DOUBLE"/>
    </resultMap>

    <sql id="Base_Column_List">
        Purpose,Money
    </sql>

    <select id="getPersonalConsumptionList" resultMap="BaseResultMap">
        select Purpose,Money from b_bankbill where Account=#{0}
    </select>


</mapper>